<% layout('layouts/boilerplate') %>
<body>
    <div class="container mt-5">
        <h2>Total Value of All Products</h2>
        <p>The total value of all products is:<b> ₹<%= totalValue.toLocaleString('en-IN') %></b></p>
    </div>
</body>